body { 
  background: url(comp2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.greeting {
	margin-top: 300px;
	color :#e5fdb8;
	font-family: 'Rubik', sans-serif;
	text-transform: uppercase;
	text-align: center;
}

.greeting > h1 {
	font-weight: bold;
	font-size: 4em;
}

.more-button {
	text-align: center;
}

.btn-danger:hover {
  background-color: #ee4b08;
  border-color: #ee4b08;
  border-width: 5px;
  cursor: pointer;
}

#mc_embed_signup {
	text-align: center;
}